<h2>Пользователь {{ login }}</h2>

<form action="/users/save_file" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="login" value="{{ login }}">
    {#<label for="upload_file"></label>#}
    <input type="file" name="upload_file" id="upload_file">
    <br>
    <br>
    <button type="submit">Загрузить</button> <a href="/users/menu?login={{ login }}">Вернуться в меню</a>
</form>

<hr>
<h3>Загруженные файлы</h3>
<ol>
    {% for file in files %}
        <li>{{ file.file_path }}</li>
    {% else %}
        Вы еще не загружали файлы.
    {% endfor %}
</ol>

